---
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="">
    <slot />
    <nav
      class="flex justify-center items-center bg-slate-100 py-4 w-auto mx-auto"
    >
      <div class="mx-24">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 24 24"
          fill="currentColor"
          class="size-14 text-orange-500"
        >
          <path
            d="M11.7 2.805a.75.75 0 0 1 .6 0A60.65 60.65 0 0 1 22.83 8.72a.75.75 0 0 1-.231 1.337 49.948 49.948 0 0 0-9.902 3.912l-.003.002c-.114.06-.227.119-.34.18a.75.75 0 0 1-.707 0A50.88 50.88 0 0 0 7.5 12.173v-.224c0-.131.067-.248.172-.311a54.615 54.615 0 0 1 4.653-2.52.75.75 0 0 0-.65-1.352 56.123 56.123 0 0 0-4.78 2.589 1.858 1.858 0 0 0-.859 1.228 49.803 49.803 0 0 0-4.634-1.527.75.75 0 0 1-.231-1.337A60.653 60.653 0 0 1 11.7 2.805Z"
          ></path>
          <path
            d="M13.06 15.473a48.45 48.45 0 0 1 7.666-3.282c.134 1.414.22 2.843.255 4.284a.75.75 0 0 1-.46.711 47.87 47.87 0 0 0-8.105 4.342.75.75 0 0 1-.832 0 47.87 47.87 0 0 0-8.104-4.342.75.75 0 0 1-.461-.71c.035-1.442.121-2.87.255-4.286.921.304 1.83.634 2.726.99v1.27a1.5 1.5 0 0 0-.14 2.508c-.09.38-.222.753-.397 1.11.452.213.901.434 1.346.66a6.727 6.727 0 0 0 .551-1.607 1.5 1.5 0 0 0 .14-2.67v-.645a48.549 48.549 0 0 1 3.44 1.667 2.25 2.25 0 0 0 2.12 0Z"
          ></path>
          <path
            d="M4.462 19.462c.42-.419.753-.89 1-1.395.453.214.902.435 1.347.662a6.742 6.742 0 0 1-1.286 1.794.75.75 0 0 1-1.06-1.06Z"
          ></path>
        </svg>
      </div>

      <div class="flex justify-around gap-16">
        <a href="#" class="font-semibold hover:text-orange-600">Services</a>
        <a href="#" class="font-semibold hover:text-orange-600">Portfolio</a>
        <a href="#" class="font-semibold hover:text-orange-600">About</a>
        <a href="#" class="font-semibold hover:text-orange-600">Blog</a>
        <a href="#" class="font-semibold hover:text-orange-600">Login</a>
      </div>

      <button
        class="bg-orange-500 font-bold text-white ml-64 mr-10 flex justify-end px-12 py-4 rounded-md border-2
				 border-black hover:bg-orange-600 transition-colors"
      >
        Book a Call
      </button>
      <hr class="bg-slate-400" />
    </nav>

    <!-- Inicio de la primera tarjeta -->

    <div class="bg-slate-100 justify-center">
      <span
        class="font-extrabold text-6xl w-4/6 flex justify-center mx-auto text-center py-8"
      >
        Expert Squarespace Design and Development
      </span>
      <div
        class="justify-center w-3/6 mx-auto text-center font-semibold text-slate-800 pt-10 pb-10"
      >
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
        corrupti praesentium officiis blanditiis neque minus recusandae. Lorem
        ipsum dolor sit amet consectetur adipisicing elit.

        <button
          class="bg-orange-500 flex justify-center mt-6 mx-auto font-bold text-white px-12 py-4 rounded-md border-2
					 border-black hover:bg-orange-600"
        >
          Book a Call
        </button>

        <div class="flex justify-between gap-12 mt-12 pb-12">
          <span class="flex gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="size-6 text-red-600"
            >
              <path
                d="m11.645 20.91-.007-.003-.022-.012a15.247 15.247 0 0 1-.383-.218 25.18 25.18 0 0 1-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0 1 12 5.052 5.5 5.5 0 0 1 16.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 0 1-4.244 3.17 15.247 15.247 0 0 1-.383.219l-.022.012-.007.004-.003.001a.752.752 0 0 1-.704 0l-.003-.001Z"
              ></path>
            </svg>
            Lovely design
          </span>
          <span class="flex gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="size-6 text-yellow-500"
            >
              <path
                fill-rule="evenodd"
                d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm-2.625 6c-.54 0-.828.419-.936.634a1.96 1.96 0 0 0-.189.866c0 .298.059.605.189.866.108.215.395.634.936.634.54 0 .828-.419.936-.634.13-.26.189-.568.189-.866 0-.298-.059-.605-.189-.866-.108-.215-.395-.634-.936-.634Zm4.314.634c.108-.215.395-.634.936-.634.54 0 .828.419.936.634.13.26.189.568.189.866 0 .298-.059.605-.189.866-.108.215-.395.634-.936.634-.54 0-.828-.419-.936-.634a1.96 1.96 0 0 1-.189-.866c0-.298.059-.605.189-.866Zm2.023 6.828a.75.75 0 1 0-1.06-1.06 3.75 3.75 0 0 1-5.304 0 .75.75 0 0 0-1.06 1.06 5.25 5.25 0 0 0 7.424 0Z"
                clip-rule="evenodd"></path>
            </svg>
            Smart Development
          </span>
          <span class="flex gap-2">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              viewBox="0 0 24 24"
              fill="currentColor"
              class="size-6 text-blue-600"
            >
              <path
                fill-rule="evenodd"
                d="M12 2.25c-2.429 0-4.817.178-7.152.521C2.87 3.061 1.5 4.795 1.5 6.741v6.018c0 1.946 1.37 3.68 3.348 3.97.877.129 1.761.234 2.652.316V21a.75.75 0 0 0 1.28.53l4.184-4.183a.39.39 0 0 1 .266-.112c2.006-.05 3.982-.22 5.922-.506 1.978-.29 3.348-2.023 3.348-3.97V6.741c0-1.947-1.37-3.68-3.348-3.97A49.145 49.145 0 0 0 12 2.25ZM8.25 8.625a1.125 1.125 0 1 0 0 2.25 1.125 1.125 0 0 0 0-2.25Zm2.625 1.125a1.125 1.125 0 1 1 2.25 0 1.125 1.125 0 0 1-2.25 0Zm4.875-1.125a1.125 1.125 0 1 0 0 2.25 1.125 1.125 0 0 0 0-2.25Z"
                clip-rule="evenodd"></path>
            </svg>
            Strong SEO
          </span>
        </div>
      </div>
    </div>

    <!-- Fin de la primera tarjeta -->

    <!-- Inicio de la segunda tarjeta -->

    <div class="bg-slate-200 justify-center py-6">
      <span
        class="font-extrabold text-5xl w-3/6 flex justify-center mx-auto text-center py-8"
      >
        Why Should You Hire Our Squarespaces Experts?
      </span>

      <div
        class="justify-center w-3/6 mx-auto text-center pb-6 font-semibold text-slate-800"
      >
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
        corrupti praesentium officiis blanditiis neque minus recusandae. Lorem
        ipsum dolor sit amet consectetur adipisicing elit. Dolores expedita
        reprehenderit consequatur a!
      </div>

      <div class="flex justify-center gap-36 mt-12">
        <div class="gap-2 flex flex-col items-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="size-12 text-red-600 hover:animate-pulse"
          >
            <path
              d="m11.645 20.91-.007-.003-.022-.012a15.247 15.247 0 0 1-.383-.218 25.18 25.18 0 0 1-4.244-3.17C4.688 15.36 2.25 12.174 2.25 8.25 2.25 5.322 4.714 3 7.688 3A5.5 5.5 0 0 1 12 5.052 5.5 5.5 0 0 1 16.313 3c2.973 0 5.437 2.322 5.437 5.25 0 3.925-2.438 7.111-4.739 9.256a25.175 25.175 0 0 1-4.244 3.17 15.247 15.247 0 0 1-.383.219l-.022.012-.007.004-.003.001a.752.752 0 0 1-.704 0l-.003-.001Z"
            ></path>
          </svg>
          <a class="font-bold hover:text-red-600">Lovely design</a>
          <p class="w-64 text-center">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi,
            minus vel. Totam quas a tempore pariatur deleniti temporibus sunt.
          </p>
        </div>

        <div class="gap-2 flex flex-col items-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="size-12 text-yellow-500 hover:animate-spin"
          >
            <path
              fill-rule="evenodd"
              d="M12 2.25c-5.385 0-9.75 4.365-9.75 9.75s4.365 9.75 9.75 9.75 9.75-4.365 9.75-9.75S17.385 2.25 12 2.25Zm-2.625 6c-.54 0-.828.419-.936.634a1.96 1.96 0 0 0-.189.866c0 .298.059.605.189.866.108.215.395.634.936.634.54 0 .828-.419.936-.634.13-.26.189-.568.189-.866 0-.298-.059-.605-.189-.866-.108-.215-.395-.634-.936-.634Zm4.314.634c.108-.215.395-.634.936-.634.54 0 .828.419.936.634.13.26.189.568.189.866 0 .298-.059.605-.189.866-.108.215-.395.634-.936.634-.54 0-.828-.419-.936-.634a1.96 1.96 0 0 1-.189-.866c0-.298.059-.605.189-.866Zm2.023 6.828a.75.75 0 1 0-1.06-1.06 3.75 3.75 0 0 1-5.304 0 .75.75 0 0 0-1.06 1.06 5.25 5.25 0 0 0 7.424 0Z"
              clip-rule="evenodd"></path>
          </svg>
          <a class="font-bold hover:text-yellow-500">Smart Development</a>
          <p class="w-64 text-center">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi,
            minus vel. Totam quas a tempore pariatur deleniti temporibus sunt.
          </p>
        </div>

        <div class="gap-2 flex flex-col items-center">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24"
            fill="currentColor"
            class="size-12 text-blue-600 hover:animate-ping"
          >
            <path
              fill-rule="evenodd"
              d="M12 2.25c-2.429 0-4.817.178-7.152.521C2.87 3.061 1.5 4.795 1.5 6.741v6.018c0 1.946 1.37 3.68 3.348 3.97.877.129 1.761.234 2.652.316V21a.75.75 0 0 0 1.28.53l4.184-4.183a.39.39 0 0 1 .266-.112c2.006-.05 3.982-.22 5.922-.506 1.978-.29 3.348-2.023 3.348-3.97V6.741c0-1.947-1.37-3.68-3.348-3.97A49.145 49.145 0 0 0 12 2.25ZM8.25 8.625a1.125 1.125 0 1 0 0 2.25 1.125 1.125 0 0 0 0-2.25Zm2.625 1.125a1.125 1.125 0 1 1 2.25 0 1.125 1.125 0 0 1-2.25 0Zm4.875-1.125a1.125 1.125 0 1 0 0 2.25 1.125 1.125 0 0 0 0-2.25Z"
              clip-rule="evenodd"></path>
          </svg>
          <a class="font-bold hover:text-blue-600">Strong SEO</a>
          <p class="w-64 text-center">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Modi,
            minus vel. Totam quas a tempore pariatur deleniti temporibus sunt.
          </p>
        </div>
      </div>

      <div
        class="bg-slate-100 container w-2/4 flex justify-center mx-auto my-10 mb-8 p-10"
      >
        <div class="font-bold text-2xl text-center">
          <span class="text-orange-500">"</span>Lorem ipsum, dolor sit amet
          consectetur adipisicing elit. Nihil maiores, tempore deserunt incidunt
          soluta quisquam ducimus deleniti laboriosam repudiandae harum, dolore
          sed libero voluptate<span class="text-orange-500">"</span>
        </div>
      </div>

      <button
        class="bg-orange-500 flex justify-center mt-6 mx-auto font-bold text-white px-12 py-4 rounded-md border-2
				 border-black hover:bg-orange-600"
      >
        Book a Call
      </button>
    </div>

    <!-- Fin de la segunda tarjeta -->

    <!-- Inicio de la tercera tarjeta -->

    <div class="bg-slate-100 justify-center py-6">
      <span
        class="font-extrabold text-5xl w-3/6 flex justify-center mx-auto text-center py-8"
      >
        Top most broken 呪術廻戦 Sorceres
      </span>

      <div
        class="justify-center w-3/6 mx-auto text-center pb-6 font-semibold text-slate-800"
      >
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
        corrupti praesentium officiis blanditiis neque minus recusandae. Lorem
        ipsum dolor sit amet consectetur adipisicing elit. Dolores expedita
        reprehenderit consequatur a!
      </div>

      <div class="grid grid-cols-3 w-4/6 mx-auto gap-10">
        <div class="...">
          <img
            src="https://images2.alphacoders.com/132/1329536.jpeg"
            alt=""
            class=""
          />
        </div>
        <div class="...">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQRMvAs7uU9r-hO6nNc6x4yYjykZ6K39271iw&s"
            alt=""
            class=""
          />
        </div>
        <div class="...">
          <img
            src="https://c4.wallpaperflare.com/wallpaper/809/831/593/jujutsu-kaisen-satoru-gojo-anime-hd-wallpaper-preview.jpg"
            alt=""
            class=""
          />
        </div>
        <div class="...">
          <img
            src="https://i0.wp.com/codigoespagueti.com/wp-content/uploads/2023/07/quien-es-gojo-satoru-jujutsu-kaisen.jpg?		resize=1280%2C720&ssl=1"
            alt=""
            class=""
          />
        </div>
        <div class="...">
          <img
            src="https://www.mundodeportivo.com/alfabeta/hero/2024/08/gege-akutami-ha-revelado-nuevas-curiosidades-sobre-satoru-gojo.jpg?width=768&aspect_ratio=16:9&format=nowebp"
            alt=""
            class=""
          />
        </div>
        <div class="...">
          <img
            src="https://a.storyblok.com/f/178900/1920x1080/7c743fca52/jujutsu-kaisen-staffel-2-gojo.jpg"
            alt=""
            class=""
          />
        </div>
      </div>

      <button
        class="bg-orange-500 flex justify-center mt-6 mx-auto font-bold text-white px-12 py-4 rounded-md border-2
				 border-black hover:bg-orange-600 shadow-lg"
      >
        View More Work
      </button>
    </div>
    <!-- Fin de la tercera tarjeta -->

    <!-- Inicio cuarta tarjeta -->

    <div class="bg-slate-200 justify-center py-10">
      <span
        class="font-extrabold text-5xl w-3/6 flex justify-center mx-auto text-center py-8"
      >
        A Squarespace Design Agency Commited to Your Success.
      </span>

      <div
        class="justify-center w-3/6 mx-auto text-center pb-6 font-semibold text-slate-800"
      >
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Assumenda
        corrupti praesentium officiis blanditiis neque minus recusandae. Lorem
        ipsum dolor sit amet consectetur adipisicing elit. Dolores expedita
        reprehenderit consequatur a!
      </div>

      <div class="grid grid-cols-2 w-4/6 mx-auto">
        <div
          class="font-semibold text-2xl bg-slate-100 p-4 flex items-center justify-center"
        >
          "Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque
          praesentium dolorem recusandae saepe consequuntur totam"
        </div>
        <div class="p-8">
          <span class="font-bold my-4">Paintess Process</span>
          <p class="font-medium text-sm mt-2 mb-4">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet,
            reiciendis? Perferendis, eaque dolore aspernatur eum vero.
          </p>
          <span class="font-bold my-4">Personalized Attention</span>
          <p class="font-medium text-sm mt-2 mb-4">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod eius
            nulla vel ipsam velit
          </p>
          <span class="font-bold my-4">Guaranted Results</span>
          <p class="font-medium text-sm mt-2 mb-4">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum
            non dolorem, est enim veritatis quae animi placea
          </p>
          <button
            class="bg-orange-500 flex justify-center mt-6 mx-auto font-bold text-white px-12 py-4 rounded-md border-2
              border-black hover:bg-orange-600"
          >
            Our Proccess and Pricing
          </button>
        </div>
      </div>
    </div>
    <!-- Fin Cuarta tarjeta -->

    <!-- Inicio quinta tarjeta -->
    <div class="bg-slate-200 justify-center py-12">
      <span
        class="font-extrabold text-5xl w-2/6 flex justify-center mx-auto text-center py-8"
      >
        See if Pocketknife is right for you.
      </span>

      <button
        class="bg-orange-500 flex justify-center mt-6 mx-auto font-bold text-white px-12 py-4 rounded-md border-2
				 border-black hover:bg-orange-600"
      >
        Book a Call
      </button>
    </div>
    <!-- Fin de la quinta tarjeta -->

    <!-- Footer -->
    <div class="bg-black text-white grid grid-cols-4 mx-auto py-12">
      <div class="flex items-center justify-center p-6">
        <span class="font-semibold">
          Let's Design a Great Squarespace Website
          <p class="text-xs">
            Lorem ipsum dolor sit amet consectetur, elit. Lorem ipsum dolor sit
            amet consec adipisicing.
          </p>
        </span>
      </div>

      <div class="flex items-center justify-center p-6">
        <span class="font-semibold">
          Build Your Online Presence
          <p class="text-xs">
            Excepteur sint occaecat cupidatat non proident, sunt in culpa qui
            officia deserunt mollit anim.
          </p>
        </span>
      </div>

      <div class="flex items-center justify-center p-6">
        <span class="font-semibold">
          SEO Optimization for Growth
          <p class="text-xs">
            Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris
            nisi ut aliquip ex ea commodo consequat.
          </p>
        </span>
      </div>

      <div class="flex items-center justify-center p-6">
        <span class="font-semibold">
          Custom Development Solutions
          <p class="text-xs">
            Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur.
          </p>
        </span>
      </div>
    </div>
  </body>
</html>
